<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Sistemas Programables</title>
</head>
<body>
    <h1>Bienvenido  a nuestro Proyecto</h1> <br>
    <input type="button" value="Iniciar Registro" id="registro" onclick="registro()">
</body>
</html>

<script>
    function registro(){
    window.location.href = "registro.html";
}
</script>